fastapi
uvicorn
langchain
google-generativeai
google-cloud-speech
google-cloud-storage
google-cloud-bigquery
google-cloud-firestore
google-auth
gtts
elevenlabs
python-dotenv
twilio
firebase-admin
pydantic
httpx
deepgram-sdk>=3.0.0
langid
